{% extends 'basic.html' %}

{% block title %} 
{%for user in profile %}
{{user.fname}}'s Profile  | BLoodDonor 
{%endfor%}
{% endblock %}



{% block body %}

<style>
   
    .container .card {
        padding: 30px 10px;
        background-color: #0E0F1B;
        border: 1px dotted #fff;
        color: #eee;
        
    }

    .container .card .description i {
        font-size: 30px;
        color: #0099ff;
    }

    .container .card .description {
       
        font-size: 16px;
        width: max-content;
        padding: 20px;
        color: rgb(250, 246, 246);
        font-family: 'Roboto', sans-serif;
        padding: 10px;
        box-shadow: 1px 13px 17px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 13px 17px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 13px 17px -4px rgba(0,0,0,0.75);
    }
    .container .card .description h3{
        font-size: 25px;
        text-align: center;
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif;
        
    }
    .card .description h4{
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    .card .description h4 i{
        color: #ffffff;
    }

    .container .card .profile {
        padding: 10px 0px;
        
        text-align: center;
    }
    .container .card .profile img{
        height: 300px;
        width: 300px;
        border: 3px solid #ffffff;
        border-radius: 50%;
    }

    .container .card .profile h4 {
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        color: #eee;
    }
    .container .card .profile h5 {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        color: #eee;
        margin-top: 5px;
    }

    .container .profile h4 a {
        text-decoration: none;
        color: aliceblue;
        padding: 5px 10px;
        font-size: 25px
    }

    .container .profile h4 a:hover {
        color: #3b7ee9;
        transition: 0.3s all;
        font-size: 25px;
    }

   

    @media (max-width: 991px)  {
        .container .card .description {
            width: 330px;
        }
    }



    /** Image Edit ***/




</style>


{%for profiles in profile %}

<div class="container my-5">
    <div class="card">
        <div class="profile">

            
                <img src="/media/{{profiles.img}}" height="250px" width="150px" alt="Avatar" class="image" >

           <!-- <img src="/media/{{profiles.img}}" alt="member1"> --> <br>
            <h5 class="badge rounded-pill bg-danger">{{profiles.bg}}</h5>
            <h4>{{profiles.fname}} {{profiles.lname}}  <a href="{{profiles.fblink}}" target="_blank"><i class="fa-brands fa-facebook"></i></a></h4>
          
          {% if profiles.username == user.username %}
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Edit <i class="fa fa-cog"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item my-1" href="/editprofile/">Edit Personal Info <i class="fa fa-pencil" aria-hidden="true"></i></a> <hr></li>
              <li><a class="dropdown-item" href="/uploadPic/">Edit Profile Picture <i class="fa fa-camera" aria-hidden="true"></i>
                <form action="/uploadPic/" method="POST" enctype="multipart/form-data"> {%csrf_token%}
                    <input type="file" name="file" style="width: 150px;"> <br>
                    <button class="btn btn-primary my-1" type="submit">Submit</button>
                </form>
              </a></li>
              <li>
                <a tabindex="0" href="/dltprofile/" class="btn btn-lg btn-danger" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover" data-bs-content="And here's some amazing content. It's very engaging. Right?">Delete Profile</a>
              </li>
             
             
            </ul>
          </div>
          
          {% endif %}
         
        </div>
        <div class="description my-4">
            <h3>Personal Info</h3> <hr>
            <ul type="none">
                <h4><i class="fa-solid fa-phone text-warning"></i>  {{profiles.phn1}}, {{profiles.phn2}}</h4>
                <h4><i class="fa-solid fa-envelope text-warning"></i>   {{profiles.email}}</h4>
                <h4><span class="badge rounded-pill bg-warning text-dark" style="font-size: 15px;">Address (Present) </span> {{profiles.add1}}</h4>
                <h4><span class="badge rounded-pill bg-warning text-dark" style="font-size: 15px;">Address (Permarent) </span> {{profiles.add2}}</h4>
                <h4><span class="badge rounded-pill bg-warning text-dark" style="font-size: 15px;">Age :  </span> {{profiles.age}}</h4>
               

            </ul>
           
        </div>


    </div>
</div>
{% endfor %}





{%endblock%}