{% extends 'basic.html' %}

{% block title %} Blood Donors | BLoodDonor {% endblock %}
{% block useractive %} active {% endblock %}

{% block body %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

    h2 {
        text-align: center;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: #e93b81;
    }
    .container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 350px;
        margin-bottom: 15px;
        height: min-content;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 42px 3px 0px -12px rgba(0, 0, 0, 0);
        box-shadow: 0px 10px 13px -7px #000000, 42px 3px 0px -12px rgba(0, 0, 0, 0);
    }

    .swiper-slide .card {
        padding: 30px 20px;
        background-color: #161e1e7e;
        color: #fff;
        box-shadow: 1px 13px 17px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 13px 17px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 13px 17px -4px rgba(0,0,0,0.75);
    }

    .swiper-slide .card .description i {
        font-size: 30px;
        color: #0099ff;
    }

    .swiper-slide .card .description p {
        text-align: center;
        font-size: 16px;
        color: rgb(58, 54, 54);
        font-family: 'Roboto', sans-serif;
        line-height: 25px;
    }

    .swiper-slide .card .profile {
        padding: 20px 0px;
        
        clip-path: polygon(20% 0, 100% 0, 82% 90%, 0 93%);
        text-align: center;
    }

    .swiper-slide .card .profile h4 {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        color: #eee;
    }

    .swiper-slide .profile a {
        text-decoration: none;
        color: #eee;
        padding: 5px 10px;
        font-size: 18px
    }

    .swiper-slide .profile a:hover {
        color: #e93b81;
        transition: 0.3s all;
    }

    .swiper-slide .profile img {
        height: 120px;
        width: 120px;
        border: 4px solid #eee;
        border-radius: 50%;
    }
</style>
{% load static%}



<div class="container my-3">

    {% for user in users %}

    <div class="swiper-slide">
        <div class="card">
            <div class="profile">
                <img src="/media/{{user.img}}" alt="member1">
                <h4>{{user.fname}} {{user.lname}}</h4>
                <h4 class="badge rounded-pill bg-danger">{{user.bg}}</h4>
            </div>
            <div class="description">
                <ul type="none">
                    <li><span class="badge rounded-pill bg-warning text-dark">Phone</span> {{user.phn1}}, {{user.phn2}}</li>
                    <li><span class="badge rounded-pill bg-warning text-dark">Address(Present)</span> {{user.add1}}</li>
                    <li><span class="badge rounded-pill bg-warning text-dark">Address(Permarent)</span> {{user.add2}}</li>

                </ul>
                <a href="/users/{{user.username}}" class="btn btn-outline-info" style="margin-left: 90px">View Profile</a>
            </div>


        </div>
    </div>
    {%endfor%}
   
   
    
</div>






{%endblock%}